[2018-10-15 04:33] fangq opened #2 "Need to fix the disabled italic markups"
For some reason, github does not display italic markups (\*...\*) correctly in a number of items, such as in the sd.detPos section:

https://github.com/fNIRS/snirf/commit/06e210379876e797098057ae35c373323c05b754?diff=unified#diff-ee33e2b4d0875712a7909355275c703aR148

need to figure out why and fix those

[2018-10-15 05:00] fangq opened #3 "Should consider a license for the document, and add a LICENSE.md file"
Possible licenses (permit commercial use) include, but not limited to
- public domain
- CC-BY-SA
- BSD
- Apache 2.0

related documents see
https://help.github.com/articles/licensing-a-repository/
https://en.wikipedia.org/wiki/Creative_Commons_license
https://www.dreamsongs.com/IHE/IHE-50.html

[2018-10-15 14:36] fangq opened #4 "Specify data types, endianness and maximum string length"
here is a list of sub-fields and their preferred data types:

## Container type (struct or cell-like data in MATLAB):
- data(idx)
  - data(idx).ml
- stim
- sd
- metaDataTags
- aux

## Floating-point types (double as default - should we also support single-precision?):
- data(idx).d
- data(idx).t
- data(idx).ml.sourcePower
- data(idx).ml.detectorGain
- stim(n).data
- sd.lambda
- sd.lambdaEmission
-

[2018-10-15 14:41] fangq commented on #4
hi @dboas, upon listing all the subfields in types, I realized that *data(idx).ml* is actually a container type, and has both integer and floating point subfields.

[2018-10-19 18:40] dboas commented on #3
To have full impact, it seems to me that people need to be able to repackage source code as they see fit without restrictions. MIT License would permit this.
The spec itself is not software. So I am not sure what is the appropriate license for that.
Your thoughts?

[2018-10-19 21:54] fangq commented on #3
all the above mentioned licenses, including MIT, are permissive licenses, although, some of them are designed for software. The license we are looking for is a free "document license". You can find a few common document (or content) licenses here

https://en.wikipedia.org/wiki/List_of_free_content_licenses
https://choosealicense.com/non-software/

for example, most wikipedia pages are under the CC

[2018-10-19 21:57] dboas commented on #3
QIanqian, which would you choose and why?
David

From: Qianqian Fang <notifications@github.com>
Reply-To: fNIRS/snirf <reply@reply.github.com>
Date: Friday, October 19, 2018 at 5:54 PM
To: fNIRS/snirf <snirf@noreply.github.com>
Cc: "Boas, David" <dboas@bu.edu>, Assign <assign@noreply.github.com>
Subject: Re: [fNIRS/snirf] Should consider a license for the document, and add a LICENSE.md file (#3)

[2018-10-19 22:06] fangq commented on #3
my preference ranks as public domain >= CC-BY-SA  > Apache 2 > others.

if you choose CC-BY-SA, any commercial company or academic work claiming to be compliant to SNIRF needs to include your copyright (or anyone who had contributed to the document) in a document (normally README or master document). if you choose public domain, people use it without needing to acknowledge, which is also often use

[2018-11-02 15:41] #3 closed

[2018-11-02 15:44] fangq commented on #3
As confirmed by David, the specification is released in the public domain. Added an [Acknowledgement section](https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#acknowledgement) to include the names of the contributors (to be added by David).

[2018-11-15 15:36] bbfrederick opened #5 "I have a python library I'd like to contribute"
I have a python library to read and write .snirf files [here](https://github.com/bbfrederick/pysnirf).  Is it best to merge it into this tree, or keep it separate?

[2018-11-15 17:11] #2 closed

[2018-11-15 17:13] fangq commented on #4
just merged the changes I made over the past few weeks, commit 84e689844fd101951c5d1cf807ec7f1248d9738b addressed this issue. closing.

[2018-11-15 17:13] #4 closed

[2018-11-15 17:18] fangq commented on #5
@bbfrederick, thanks.

David asked me to help with the SNIRF specification development on github. I just created a fork of your python library in the fNIRS folder. I also sent you an invitation as the contributor to fNIRS/pysnirf.

My suggested workflow is that we continue to use our own personal fork (like [mine](https://github.com/fangq/snirf)) to develop the software modules, and then, once it

[2018-11-15 17:36] fangq opened #7 "Data streaming support"
hi @dboas, I remember Ted mentioned about this in an teleconference previously. Recently, my student Morris Vanegas also brought up this issue.

I think we should add some sequence numbers in the data structure to allow grouping data chunks into a larger dataset, possibly in the metaDataTags section. DICOM format uses the "Accession Number", although it is a string format.

I can think about somet

[2018-11-19 14:30] jayd1860 commented on #4
Hi Qianqian,

I'm on vacation until Nov 21. I will take a look as soon as I'm back and get back to you with what I think.

Jay

________________________________
From: Qianqian Fang <notifications@github.com>
Sent: Thursday, November 15, 2018 12:24:55 PM
To: fNIRS/snirf
Cc: Dubb, Jay; Mention
Subject: Re: [fNIRS/snirf] Specify data types, endianness and maximum string length (#4)

hi @dboas<https:/

[2018-11-28 18:58] dboas commented on #7
sounds good to me... for instance, we have collected data for 7 days straight... we just had files for every 30 minutes of data with a number incrementing in the filename. Would be good to have that specification in the file structure as well.

[2018-11-28 19:08] dboas opened #8 "landmark and landmarkName likely shouldn't be part of aux ?"
Qianqian, Jay, Meryem and I think instead of aux.landmark and aux.landmarkName should be sd.landmark and sd.landmarkName
Are you okay with that?

[2018-11-28 19:10] dboas opened #9 "acknowledgement at the end of the specification"
There have been many contributors.
I need to dig through the emails.
Mainly, it was started by Blaise Frederick and David Boas, with significant contributions from Ted, Jay, and Qianqian. And then there have been a community of suggestions that have been adopted.
Qianqian or Jay, can you update this in the spec?

[2018-11-28 19:13] dboas opened #10 "ready to release?"
@fangq and @jayd1860 , what more is needed to be completed to release the spec?
Maybe all the issues except for the streaming one?
Should we invite all the supporters to this project and give them a little more time to comment?
Anything else?
@dboas

[2018-11-28 19:51] fangq commented on #10
hi David, we haven't announced this repository yet, we should get more feedback. but feature wise, I think it looks quite good.

[2018-11-28 21:46] jayd1860 commented on #10
David and Qianqian,

Had a question about the stim structure. We now have

   stim(n).name
   stim(n).data

stim(n).data is a 3 column array where each row corresponds to a stimulus trial and the three columns indicate [starttime duration value].

In Homer2, users can manually reject/toggle stims and we indicate this with various non-zero and non-one values. Assuming we want to preserve this funct

[2018-11-29 02:47] fangq commented on #8
in Sungho Tak's email, he asked for storage of two datasets: 1) 3D digitizer data and 2) landmark (10-20) positions, likely also acquired from the digitizer.

in my opinion, landmark/landmarkName are places to store digitizer data, which can be independent to source detector placement - for example, it may be point-cloud to record head contour, or EEG landmarks that are not necessarily part of opt

[2018-11-29 03:02] fangq commented on #8
hi @jayd1860, regarding your questions

I thought the aux.landmark stores the array of position data acquired from the digitizer . For example, if

[code]
the above data stores 5 digitizer coordinates, the last column map them to the landmarkName - i.e. the first position, [10.3 11.0 5.3] is the Nasion position, and so on.

I see timeOffset is located at the end of the aux, are you sure it is in t

[2018-11-29 03:07] fangq commented on #8
The current definition does not restrict the maximum landmark field, so that we can store more than 4 columns, for example

x, y, z, id, nx, ny, nz, status ...

where the x, y, z, nx, ny, nz, status are direct output of the Polhemus digitizer when you press the stylus button. I currently leave the column names user-defined, but we can certainly add aux.landmarkColumnName to specify the meaning of

[2018-11-29 03:10] fangq commented on #9
if you attach a list of names/contact info, I will be happy to update, alternatively, you can click on the "Fork" button on the top-right, and make whatever edit in your fork, commit your change, and send a pull request to this repo. I can then merge the changes. It is quite easy to merge changes from multiple users on github.

[2018-11-30 11:29] dboas commented on #8
Qianqian,
landmarks really don't fit in the aux the way it is currently defined. For instance,
aux(n).name
[Type: string]
This is string describing the nth auxiliary data timecourse.

This really sets up aux to be auxiliary time course recordings.

Landmarks will always be related to the head anatomy and the placement of optodes and/or electrodes and/or point clouds to get head geometry. SD seems

[2018-11-30 11:31] dboas commented on #10
Qianqian, should I go ahead and announce it? To announce it, should I email the small group of people and tell them to come to GitHub at https://github.com/fNIRS/snirf/ ? I would email them at snirf at fnirs.irg

Jay, I moved your comment to a new issue.

[2018-11-30 11:32] dboas opened #12 "question about stim value"
Jay wrote:
David and Qianqian,

Had a question about the stim structure. We now have

stim(n).name
stim(n).data

stim(n).data is a 3 column array where each row corresponds to a stimulus trial and the three columns indicate [starttime duration value].

In Homer2, users can manually reject/toggle stims and we indicate this with various non-zero and non-one values. Assuming we want to preserve this

[2018-11-30 11:35] dboas commented on #12
Jay, turning stim on and off is data analysis software specific. We can hijack 'value' in stim(n).data for this purpose. As for the spec, for now we can leave value as undefined and people can use it how they like. I believe this spec for stim follows what is used for SPM. We can look that up to see how they define 'value'

[2018-11-30 16:49] fangq commented on #9
no, I don't see it. click on the "Pull requests" in this repo, I only see my pull request on streaming support.

have you create a request? you need to put fNIRS/snirf as base when creating the request.

[2018-11-30 17:01] fangq commented on #8
ok, I will move those to the sd then. will create another pull request.

[2018-11-30 17:02] fangq commented on #7
I added the streaming support in this pull request #11, let me know if it is acceptable.

[2018-11-30 17:04] fangq commented on #10
let's finish a few changes first: 1) add the contributor list, 2) add streaming support (pull #11), and I will move landmark/landmarkName to sd.

after that, I will create a RFC commit and update the README, then we can invite people to comment on a clean version.

[2018-11-30 17:07] fangq commented on #8
on another thought, if I change **aux(n).landmark** to **aux.landmark** - would that addresses your concerns? or you still like sd.landmark better?

[2018-12-02 21:58] fangq commented on #7
closed after accepting Pull request #11

[2018-12-02 21:58] #7 closed

[2018-12-02 22:11] fangq commented on #10
one more minor change before release - I would also remove the [two lines ](https://github.com/fNIRS/snirf/commit/06e210379876e797098057ae35c373323c05b754#diff-ee33e2b4d0875712a7909355275c703aR5) regarding the "last update dates", since now it is version controlled by git.

[2018-12-03 18:54] jayd1860 commented on #8
Hi Qianqian,

I'm still not completely clear on this issue. As you say, digitized data may be independent of sources and detectors, yes;  but I do see how digitized points can be used to position a probe, hence it's connection to the sd field.  What I'm wondering is what is it's connection to aux? Why store it in that particular structure?

Or perhaps, if we do treat it as independent data that ha

[2018-12-03 19:23] #8 closed

[2018-12-03 19:23] fangq commented on #8
fine, I moved those to sd, also changed landmarkName to landmarkLabels to look similar to srcLabels and detLabels.

[2018-12-05 17:15] fangq commented on #10
@dboas and @jayd1860, I created a [clean copy of the specification](https://github.com/fNIRS/snirf/commit/88baa2a2ed3347e868ec184b9daa4b357ddbbfd1), should be ready for user comments.

do you want to announce it to the mailing list?

[2018-12-05 17:15] #10 closed

[2018-12-06 01:53] dboas opened #15 "sd.landmarkLabels for sources and detectors"
Qianqian, sd.landmarkLabels allows for user defined landmark labels. Should we provide a specification for what labels to use to reference specific sources and detectors?
We already have sd.srcLabels and sd.detLabels. We could just indicate that the sd.landmakrLabels should match the src or det label.
What do you think?
If you agree, can you add that to the spec?

[2018-12-06 01:59] dboas commented on #10
Yeah, I will mention it to the mail list.
Thanks Qianqian!
David

From: Qianqian Fang <notifications@github.com>
Reply-To: fNIRS/snirf <reply@reply.github.com>
Date: Wednesday, December 5, 2018 at 12:18 PM
To: fNIRS/snirf <snirf@noreply.github.com>
Cc: "Boas, David" <dboas@bu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [fNIRS/snirf] ready to release? (#10)

@dboas<https://github.com/db

[2018-12-06 03:21] fangq commented on #15
sure. do you see a good chance that src/det may have overlapping labels? for example, could it be possible (or even frequently seen) that src channels are labeled as "1", "2" and "3" while the detectors labels may also follow the same format?

in this case, I would suggest to add a prefix, such as "S:channel_1" for source label "channel_1" and "D:2" refers to detector label "2".

if we don't want

[2018-12-06 10:01] Horschig opened #16 "Consider more human readable and consistent fieldnames"
It is advantageous for outsiders and beginners to have user-readable fieldnames. I understand that many aspects from the .nirs specifications were taken over, but the fieldnames can be very confusing and certainly be longer than one or two characters.

Some proposals for more human-readable names:

- data.t, why not call it time?
- data.ml, why not call is measurementList? Even more intuititve wou

[2018-12-07 19:36] fangq commented on #16
I will let David and Jay comment on the feasibility of changing the names at this stage of the development.

My understanding is that lots of these field names were inherent from Homer2 data structure, which is widely used in the community, but I agree that improving consistency in the definitions is helpful for better dissemination. I made some similar comments previously and Jay had incorporated

[2018-12-10 01:08] dboas commented on #16
Old habits die hard... I started programming on a TRS80 with 4kb of ram... faster to type your program each time than wait for the cassette tape.

Really awesome comments! Thanks for taking the time to catch all of this.

I am fine with data.t being replaced with data.time
and data.ml with data.measurementList
and sd to probe
and sd.lambda to sd.wavelengths

data.d and aux.d both contain time seri

[2018-12-11 00:32] jayd1860 commented on #16
Excellent and very helpful comments from everyone. Thank you!

I definitely agree with the following and don't think it would be very difficult to change:

1. Change lambda to wavelength.
2. Change sd to probe.
3. Keep srcPos and detPos. (There is only one catch now that I think about it. There are a whole bunch of fields in ml which spell out source and detector; e.g., sourceIndex; detectorIndex;

[2019-01-07 20:03] forihuelaespina commented on #12
In this regard, highjacking the scalar "value" might be insufficient. For some experiments, it may be interesting to associate to trials some information more elaborated than just a scalar value; e.g. picture, audio, event information, etc.

[2019-02-01 14:11] dboas commented on #16
@Horschig there is no mapping between data and aux. You are right that aux is more like stim. Note that each data(i) can have multiple channels of time series data in 'd' while each aux(i) only has one channel of time series data in 'd' and each stim(i) describes another stimulus condition and doesn't have time series data but does have a 'data' field from which a time series vector describing the

[2019-02-02 16:33] dboas commented on #5
@bbfrederick and @fangq , I don't see @bbfrederick 's code in the repository.
@bbfrederick , I think it is best to include your python code in this repository if you are okay with that.

[2019-02-02 16:35] bbfrederick commented on #5
Sure thing. Do you want to fork it from my git repository or is there some easy way for me to add it?

Blaise

Sent from my iPhone

[2019-02-02 16:41] dboas commented on #5
Blaise, I am not sufficiently knowledgeable yet with GitHub. You tell me what is best.
We are still finalizing the spec. This will be done in Feb! After that, your Python code will have to be updated to match the final spec. But maybe it is good to just get your code in the repository now and then updare it once the spec is finalized. What do you think?
David

From: bbfrederick <notifications@gith

[2019-02-02 17:39] bbfrederick commented on #5
Sounds good to me. I guess I can do a pull request (it will take me a while to figure out how - I too find github a bit mystifying, despite using it).  Then I’ll work I’m becoming compliant with the final spec.

Blaise

Sent from my iPhone

[2019-02-03 04:46] fangq commented on #5
@dboas and @bbfrederick, the repository has already been added to the fNIRS github portal, see

https://github.com/fNIRS/pysnirf

Blaise has write access to the repository as well.

[2019-02-03 06:30] fangq commented on #15
let me know if this works

https://github.com/fNIRS/snirf/pull/18

[2019-02-07 21:37] #15 closed

[2019-02-07 21:38] #5 closed

[2019-02-07 22:22] fangq commented on #12
@dboas and @jayd1860, is this issue resolved? if yes, please feel free to close.

[2019-02-08 08:01] Horschig commented on #16
_probeMap_ would imho make more sense than _indexList_ or _measurementList_ (because you guys use the probe anyway, so it would be consistent using it in fieldnames).

I would refrain from using _waveform_, maybe it's a personal thing, but to me it has the connotation with sound or any other faster oscillatory waveforms like EEG. But indeed dataTimeSeries is fairly lengthy, but a good name. Just t

[2019-02-11 14:18] forihuelaespina opened #20 "Distinction between nominal and real wavelengths measurements"
Extracted from the Google Docs: https://docs.google.com/document/d/1kLQnFNSXsCAcUNcCPtyTerSwatCOnLcX4fAaZsidCbI/edit

HITACHI ETG family used to make a distinction between "nominal" wavelength e.g. 690nm common to all channels and "real" measurement wavelength e.g. 696.6nm, specific at each channel. Is there any advantage to keep track of both?

[2019-02-11 14:22] forihuelaespina opened #21 "Support for dataTimeSeries types"
Extracted from the Google Docs: https://docs.google.com/document/d/1kLQnFNSXsCAcUNcCPtyTerSwatCOnLcX4fAaZsidCbI/edit

In the supported data types for “dataTimeSeries”, how are variants of DCS indicated e.g. TD-DCS?

[2019-02-11 14:33] forihuelaespina opened #22 "Handling of calculated or derived data types"
Extracted from the Google Docs: https://docs.google.com/document/d/1kLQnFNSXsCAcUNcCPtyTerSwatCOnLcX4fAaZsidCbI/edit

**David Boas**
One issue that remains to be resolved is how to handle calculated or derived data types. The specification presently supports several raw data types. It is desirable to add a data type for concentration results. An issue we are struggling with is that every channel o

[2019-02-19 20:19] dboas opened #23 "Supported Data Types"
@jayd1860 @fangq and I and Ted discussed expanding the data types described in the appendix of the spec.
Ted had the excellent suggestion of organizing such that blocks of numbers are reserved for different modalities and then ranges within a block follow similar structures. So,

MODALITIES
0-99 : CW
100-199 : FD
200-299 : TD gates
300-399 : TD moments
400-499 : DCS

WITHIN MODALITY
 0-49 : Non-fl

[2019-02-20 20:08] dboas commented on #23
I just had a good discussion with Nathan about this and he made an excellent suggestion. Since it is hard for us to know a priori all possible processed data types, maybe it is best to just add an index for "processed" data type. This data type then requires a field data(i).dataTypeLabel that is a string descriptor of what the processed data is. We will compile a list of the possible string descri

[2019-03-12 13:51] dboas opened #24 "container for multimodal data"
Hasan Ayaz raised the issue

I believe that this is already covered within the aux container. Am I missing something?

[2019-03-13 14:19] Horschig commented on #20
If channels refer back to these wavelengths, then it would be easier to combine 'similar' wavelength by referring to the nominal wavelength. This way, the manufacturers define which wavelengths should be in one set and not the user. Alternatively, the user has to arbitrarily define a tolerance until when wavelengths are equal. The real wavelength is, however, necessary to transform the data proper

[2019-04-23 21:26] dboas commented on #20
Qianqian, Ted, Jay and I discussed adding an optional probe.wavelengthLabels field... This just seems to get ugly from my perspective when try to envision how to utilize this as described above.

Instead, it seems like maybe it will be easier if we add a data(0).measurementList(0).wavelengthLabel field which will be a string descriptor of the wavelength. This could be used to store the real wavele

[2019-04-30 19:22] dboas commented on #23
Jay has now implemented these changes to the specification and has pulled the changes back to the master

[2019-04-30 19:22] #23 closed

[2019-07-24 20:42] jayd1860 opened #32 "metaDataTags specification"
Hi Qianqian,

NOTE: Before I respond to your email just wanted to mention, while we say what is an HDF5 Groups in the spec, we do not explicitly say what is a HDF5 Dataset (maybe we should to avoid confusion, but that's a discussion for a later time). We only imply it by using any non-group basic type such as "numeric" or "string" to mean HDF5 Dataset.  So my answer will  assume that "numeric" or

[2019-07-24 20:50] dboas opened #33 "compliance of sample SNIRF files and readers and writers"
@huppertt ,
I am copying Jay's comments about your sample file here. We can use this thread to resolve compliance and consistency between your and his reader and writer.
David

On another note, I thought that it would be good at this point to make sure our various SNIRF readers/writers are compatible and in agreement. It's also a good test of one of our main goals which is shareability of data fil

[2019-07-24 21:54] fangq commented on #32
@jayd1860 and @dboas, the difference between using a 2D (N*2) string array dataset vs a more complex hdf5 construct (such as a group, or group of groups) boils down to whether you prefer to

1. use hdf5 path `"/nirs/metaDataTags/keyname"` such as `"/nirs/metaDataTags/SubjectID"`  to access each metadata item, or
2. you want to read out the entire header and do your own search (key-value lookup).

[2019-07-24 23:41] jayd1860 commented on #32
@fangq, @huppertt, @dboas,

Ok I see now what you mean about searching for keys: I guess you're showing me a 3rd way to do this (method 1. in your post), that is, to use the tag names themselves to name the SNIRF variables. And that seems like a legitimate way to do it as well. The only downside with that method is that you cannot specify a fixed data structure for SNIRF because the variable names

[2019-07-25 11:56] dboas commented on #32
I am also in favor of “metaDataTags is a Dataset of type 2-D string array”

From: jayd1860 <notifications@github.com>
Reply-To: fNIRS/snirf <reply@reply.github.com>
Date: Wednesday, July 24, 2019 at 7:41 PM
To: fNIRS/snirf <snirf@noreply.github.com>
Cc: "Boas, David" <dboas@bu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [fNIRS/snirf] metaDataTags specification (#32)

@fangq<https://git

[2019-07-25 19:17] jayd1860 commented on #33
@huppertt ,

One last point to add to the 7 issues above:

The spec says that each row of stim(i)/data corresponds to a stimulus trial and each column to [starttime duration value]. The SNIRF_example.snirf had it reversed, so I added debug code to SNIRF reader/writer to transpose the data to load it correctly.

[2019-07-26 09:21] huppertt commented on #32
The reason I had initially put it as a key/value structure was that I thought values could be any type (e.g. string or numeric or other).  Whereas the 2D string array would require the reader to parse (e.g.) age into a numeric value from the stored string type.  Its way more work for the reader to have to code to check the type of the value in the file and import it that way, but removes ambiguity

[2019-07-26 11:59] dboas commented on #32
Ted, how do we set up in HDF5 where the value could be string or numeric? I am fine with the 2D string array. It is easy for the programmer to do the conversion as needed.
David

From: huppertt <notifications@github.com>
Reply-To: fNIRS/snirf <reply@reply.github.com>
Date: Friday, July 26, 2019 at 5:21 AM
To: fNIRS/snirf <snirf@noreply.github.com>
Cc: "Boas, David" <dboas@bu.edu>, Mention <mention

[2019-07-26 14:54] huppertt commented on #32
When you create the dataspace location in HDF5, you define the data type (string, int, etc).  The data file saves the type info and when you read it back, you first need to retrieve the data type and alter the read command accordingly.

The code (from my C# toolbox) is something like:

 private static hid_t AddDataValue(hid_t parentLoc, string name, double data)
        {
            // Write the

[2019-07-26 16:41] fangq commented on #32
@dboas, from what I read (within just a limited time), there are several (probably too many) ways to store heterogeneous data in a hash/map in hdf5.

The cleanest way is to write your own hdf5 constructs.

In the below example, I use the low-level MATLAB hdf5 interface to write a metadata header (`meta` as a struct), containing a string and a numerical subfield, into a sample file.

[code]
if your

[2019-07-26 16:56] fangq commented on #32
To summarize the options we have, we can define

1. group of groups (probably overkill)
[code]
2. group of datasets
[code]
3. a single dataset of compound types
[code]
4. a single dataset of 2-D string arrays (can not query value per key, limited to string key only)
[code]

[2019-07-27 18:13] dboas commented on #32
I understand that the original intention was

  1.  a single dataset of compound types
/nirs/metaDataTags      <- dataset
          TYPE{"SubjectID", "Age", ... }  <- compound datatype
          DATA{"val1",val2, ... }         <- compound data values

And given that we have code examples for how to implement this, it seems like the way to go.

Jay, are you okay with this?

From: Qianqian Fang <not

[2019-07-29 19:07] dboas commented on #33
@huppertt , @jayd1860 really needs to talk with you about these compliance issues and his being able to read your files and vice versa. I hope you two can talk ASAP
Thanks

[2019-09-17 04:00] fangq commented on #32
@jayd1860 and @dboas, I made a patch to Jay's Homer3 code a moment ago

https://github.com/BUNPC/Homer3/pull/2

This patch addressed a few issues

1. the `MetaDataTagsClass` now handles all `metaDataTags` fields as a struct, instead of a single key/value pair in Jay's original version. This may significantly lower the overhead of reading/writing files

2. I used the commands in my previous post ht

[2019-09-17 04:09] fangq commented on #32
here is the dump of the output data file - `/nirs/metaDataTags` is a group, and each subfield, say `/nirs/metaDataTags/SubjectID` is a dataset. Again, this is format-2 in https://github.com/fNIRS/snirf/issues/32#issuecomment-515526133

[code]

[2019-09-17 17:10] jayd1860 commented on #32
Hi Qianqian,

Thanks for the very helpful comments and looking over the Homer3 code. I made the fixes that you caught (thanks!) and made some other changes in response to your great suggestions. I do agree I need to show how to load arrays of objects in Snirf. For this purpose I added some methods to the SnirfClass and a simple demo (demo_snirf_readfile) which shows exactly how to do this and upda

[2019-09-17 17:49] fangq commented on #32
@jayd1860, I've already run the demos script and compared your original outputs and mine.

here is the output data from your original class:

[code]
here is the output data from my updated MetaDataTagsClass

[code]

I think my output is a lot cleaner (and more flexible). It is also a lot easier to look-up values in both MATLAB and in HDF5 file - in your output, one has to loop over all subfields t

[2019-09-17 18:06] fangq commented on #32
Jay, also following your comment, I want to mention that the data stored in `metaDataTags` are indeed different from `aux/stim/data`.

Basically, `aux/stim` are cell arrays (i.e., indexed arrays), but metaDataTags is a structure/map.

it is easier to show the difference in JSON's notation (`'[]'` vs `'{}'`): for `aux`, for example, what you have is

[code]

where the elements are accessed by index

[2019-09-17 19:01] jayd1860 commented on #32
Ah ok Qianqian,

I will look into that. Basically if that is true, then the Homer3 Snirf writer is doing something wrong. It should definitely NOT be storing it differently.

Let me look into it and get back to you.

Jay

[2019-09-17 19:25] jayd1860 commented on #32
Hi Qianqian,

About your previous lengthy comment, perhaps it would be a lot easier for us to figure this out in person. Do you think this is possible? Maybe I can visit NE next week?

We're going back and forth for a long time now - and it's very time consuming, and it's hard to really appreciate what the other person is saying.

Let me know if you'd be open to that.

Jay

[2019-09-17 23:04] dboas commented on #32
Qianqian,
That would be great if Jay could come visit you to nail this down.
David

From: jayd1860 <notifications@github.com>
Reply-To: fNIRS/snirf <reply@reply.github.com>
Date: Tuesday, September 17, 2019 at 3:25 PM
To: fNIRS/snirf <snirf@noreply.github.com>
Cc: "Boas, David" <dboas@bu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [fNIRS/snirf] metaDataTags specification (#32)

Hi Qian

[2019-10-29 18:19] fangq commented on #32
close after this pull request https://github.com/fNIRS/snirf/pull/36

[2019-10-29 18:19] #32 closed

[2019-10-31 02:15] fangq commented on #33
now use the sample files in https://github.com/fNIRS/snirf-samples as we agreed upon.
closing.

[2019-10-31 02:17] fangq commented on #24
close this ticket. if the issue was not correctly addressed in the spec, please feel free to reopen.

[2019-10-31 02:17] #24 closed

[2019-10-31 02:19] fangq commented on #22
`measurementList.dataType` now supports both raw and processed types, see

https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#appendix

closing for now.

[2019-10-31 02:19] #22 closed

[2019-10-31 02:21] fangq commented on #21
these are now supported via the dataType labels

https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#appendix

[2019-10-31 02:21] #21 closed

[2020-04-05 23:50] rob-luke opened #38 "How to subscribe to the mailing list"
I just attempted to sign up to the mailing list by following the link in the README to https://fnirs.org/resources/software/snirf/ and sending an email to the subscription address snirf-subscribe@fnirs.org. However, this email was unable to be delivered with the error `snirf-subscribe wasn't found at fnirs.org`.

Does the mailing list still exist? If so, is it down? Or have I misunderstood the ins

[2020-04-06 00:24] rob-luke opened #39 "Converters for other formats to SNIRF"
Thanks for the great initiative.

I would like to convert my existing data (NIRX) to the SNIRF format. Are there any conversion scripts available? I have looked in the fNIRS organisation and can only find SNIRF readers and writers.

Apologies if I have posted this in the wrong location, I was not sure what repository to ask this question in.

[2020-04-06 12:44] robquant commented on #39
Hi @rob-luke,

I am the software team lead at NIRx. We are currently working on incorporating support for the SNIRF format in future versions of our recording software. Could you contact me at robert.franke_at_nirx.de so we can learn more about your requirements for a conversion tool?

[2020-04-06 21:53] fangq commented on #38
@jayd1860 and @dboas, is this mailing list still active? I am getting the same error as @rob-luke when I tested it earlier

[code]

[2020-04-06 22:13] dboas commented on #38
I think that mailing list died when the SfNIRS web provider tanked and we went with a new service provider that somehow didn’t support mail lists. This was basically because of all the new requirements making mail list compliant with different government requirements. As a result, we migrated our mailing lists to mailchimp.

You can now sign up at
https://mailchi.mp/89a906ec22cf/snirf

However, mo

[2020-04-06 22:37] rob-luke commented on #38
Thanks for getting back to me so quickly. I follow the github page, so that should suffice.

Appreciate the great documentation here. Thanks

[2020-04-06 22:37] #38 closed

[2020-04-14 01:00] dboas commented on #39
﻿Completely awesome you all are supporting SNIRF. Let us know through https://github.com/fNIRS/snirf if we can help with any aspects of SNIRF

From: Robert Franke <notifications@github.com>
Reply-To: fNIRS/snirf <reply@reply.github.com>
Date: Monday, April 6, 2020 at 9:05 AM
To: fNIRS/snirf <snirf@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [fNIRS/snirf] Convert

[2020-04-27 16:27] Edouard2laire opened #40 "Question about how to handle calculated data type"
Dear all,

This question is related to #22, as I don't understand how chromophore such as HbO,HbR, and HbT can be stored in snirf file.

What I understand from the specification and from #22 is that, when storing processed data such as Hb0, in /nirs(i)/data(j)/measurementList(k)/  :
- dataTypeLabel is either "HbO", "HbR", or "HbT",
- dataType is 99999

but then I don't know how to set the followin

[2020-04-27 16:32] Edouard2laire opened #41 "Difference between sourcePos and sourcePos3D"
Hi,

I am starting to make brainstorm compatible with snirf (see https://github.com/brainstorm-tools/brainstorm3/pull/283#issuecomment-620074533) but I don't understand the difference between sourcePos and sourcePos3D.

SNIRF data format summary said that sourcePos contains 2D pos and sourcePos3D contains 3D pos but then in the specification, it is said that both contains x,y, z coordinates so the

[2020-04-27 16:41] fangq commented on #41
@Edouard2laire, I agree this was not clear.

I believe the original intent was to use `sourcePos` and `detectorPos` to store the 2D optode position in a flattened probe, while `sourcePos3D` and `detectorPos3D` to store their 3D positions world-coordinate system.

@dboas, @huppertt and @jayd1860, can you guys confirm if this was the case?

I am happy to update the description to clarify this.

@Edo

[2020-04-27 16:44] dboas commented on #41
@Edouard2laire , @fangq  is right. THe intent was for sourcePos to store the 2D coordinates to facilitate viewing of the probe in software packages on a 2D plane. sourcePos3D was then added to provide the true 3D positions of the optodes. We probably should have called sourcePos sourcePos2D instead.

@fangq , can you fix the typo in the spec for sourcePos and I guess also detectorPos to be <number

[2020-04-27 17:26] fangq commented on #41
meant to patch this in my branch, but did it in the main repo, well, please take a look and see if this is clear.

[2020-04-27 18:23] Edouard2laire commented on #41
Thanks for your very quick responses !!

Yes, it is much more clear now.  I am still not sure about one part :
`This field describes the position (in LengthUnit units) of each source optode. The postions can be either coordinates in a flattened 2D probe geometry (z is assumed to be 0), or 3D positions in the world-coordinate system.`

I think we should remove 'or 3D positions in the world-coordina

[2020-04-27 18:35] fangq commented on #41
that was my intent to make `sourcePos` more flexible - because `sourcePos` is required and `sourcePos3D` is optional, if a user happen to have only one of the coordinates (flat or warped), then they can store it with `sourcePos`. The question is how often people do not have the 2D positions? the downside of this is that it is less specific.

if you all agree with this flexible definition, I can ma

[2020-04-27 18:39] fangq commented on #40
these are good points. @jayd1860 added this part, Jay, what do you think?

[2020-04-28 12:45] dboas commented on #41
I am a little hesitant to change sourcePos to 2 columns from 2 at this point. But it certainly is more explicit to call it sourcePos2D and make is 2 columns. It is still early in the release. @Qianqian Fang<mailto:notifications@github.com> do you think it is okay to make this change?

From: Qianqian Fang <notifications@github.com>
Reply-To: fNIRS/snirf <reply@reply.github.com>
Date: Monday, April

[2020-04-28 12:55] fangq commented on #41
do you mean to change the column number from 3 to 2 for `sourcePos`?

currently `sourcePos` is a required field, and `sourcePos3D` is optional. what's your opinion on the requirement states of these two fields if we limit sourcePos to 2D only?

[2020-04-28 13:07] huppertt commented on #41
The naming convention of SrcPos vs SrcPos3D went back to this being how it was done in the SD mat structure in HOMER and the file format for .nirs and NIRx (native) data.  In these conventions SrcPos is assumed to be 2D.  I’m ok with changing it to SrcPos2D and SrcPos3D to be more explicit, but the use of those terms was a bit historic

Theodore Huppert, PhD
University of Pittsburgh
Department of

[2020-04-29 14:52] fangq commented on #41
let me know if this edit clears things up, if all agree, I will merge

https://github.com/fNIRS/snirf/pull/42/files

[2020-04-29 16:23] Edouard2laire commented on #41
Hi @fangq,

it looks great to me. Maybe we could use this opportunity to also clarify the role of landmarkPos and landmarkPos3D.  In this case, I am wondering if there is really a need to have them both. Is there people who have digitalized head point, but only in 2D coordinate ?

I also have a naïve question, (sorry if it's obvious), shall we be worried about backward compatibility, especially fr

[2020-04-29 16:35] fangq commented on #41
Keeping the spec backward-compatible was my main thought when I made the previous commit:
https://github.com/fNIRS/snirf/commit/504a7f99f0a11bd62172931b5860bfecc8c6cee3

I always hate to break backward compatibility because it immediately renders all existing code incompatible. But if the spec is still in the early stage and such change is unavoidable, it is probably ok. I will let @dboas to make

[2020-04-30 17:22] fangq commented on #41
@Edouard2laire, see my updated pull request, especially this commit

https://github.com/fangq/snirf/commit/1ed004dcb3ad3cffe340ae578252c8051f92d6c8

I added sourcePos and detectorPos back, and claim them as the alias to `...Pos2D`.

the issue is that
1. we need to prevent people from using both
2. previously, `sourcePos/detectorPos` were required, now `...Pos2D` tags are required. Not sure if this

[2020-04-30 17:23] fangq commented on #41
The two sections look identical

https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#nirsiprobelandmarkpos

maybe make `landmarkPos3D` as the default, and make `landmarkPos` as an alias?

[2020-05-12 16:03] Edouard2laire commented on #41
Hi,
I am not sure if you are waiting an answer from me; but in case, all those changes are ok for me :)

hs : did you had time to have a look at my question on snirf sample ? https://github.com/fNIRS/snirf-samples/issues

[2020-05-12 16:05] Edouard2laire commented on #40
HI, Do you have news about those questions ?

[2020-05-12 17:12] dboas commented on #40
You are right, dataTypeIndex and wavelengthIndex are not needed in this case of processed data HbO.
What is the right solution?
At present, in Homer3 in this situation of processed data, we just set wavelengthIndex=0 dataTypeIndex=1.
Jay and I discussed this and think we should set wavelengthIndex=-1 and dataTypeIndex=-1 in these cases when they are not used.
It seems to me completely possible tha

[2020-05-12 19:15] dboas commented on #41
Jay and I are discussing this now and agree with the following:

We are all for sourcePos2D and detectorPos2D as being required and they should be a matrix with 2 columns. We can keep sourcePos and detectorPos as optional for historical reasons and in the description indicate they are kept for historical reasons but developers are encouraged to copy the variables to the replacement sourcePos2D and

[2020-05-13 13:47] fangq commented on #41
@dboas, the duplicated landmarkPos3D field is removed, and the edits regarding sourcePos2D/3D etc are merged with the master repo. see all changes at

https://github.com/fNIRS/snirf/pull/42/files

I kept the sourcePos and detectorPos for compatibility, but recommend users to use the 2D versions of the keywords.

Feel free to let me know if you see any remaining problems.

[2020-05-13 20:02] huppertt commented on #41
The landmark3d was intended to (obviously) be the 3D version but the landmark was the 2D version.  You would need to add landmark2d instead and if you leave the source and detector (not explicitly 3d or 2d), you need to leave the landmark as well.

Theodore Huppert, PhD
University of Pittsburgh
Department of Electrical and Computer Engineering

Email: Huppert1@pitt.edu
Phone: 1-412-647-8459
Websit

[2020-05-13 20:12] huppertt commented on #41
And for clarification, you need a 2D version of landmarks to do registration (eg the way anchors get used in atlas viewer).  This is needed in the snirf format to accommodate data from NIRx

Theodore Huppert, PhD
University of Pittsburgh
Department of Electrical and Computer Engineering

Email: Huppert1@pitt.edu
Phone: 1-412-647-8459
Website: www.huppertlab.net
________________________________
Fro

[2020-05-13 20:13] fangq commented on #41
@huppertt, I can revert this change: https://github.com/fNIRS/snirf/commit/6b177194cce75c1d7130857cad88d87882e9121b

and rename `landmarkPos` to `landmarkPos2D`, then add `landmarkPos` as an alias to the 2D version?

please confirm if this is what you suggest me to do.

also, can you explain how is `landmarkPos2D` computed? just out of my curiosity.

[2020-05-16 16:44] #41 closed

[2020-05-16 16:54] fangq commented on #41
in the above commit, I made a bunch of clarifications

- add `landmarkPos2D`, point `landmarkPos` as its alias
- add `metadataTags.FrequencyUnit` as a new required field for FD related data
- state that `LengthUnit/TimeUnit/FrequencyUnit` are case sensitive to distinguish mega from milli
- clarified on the corresponding units in various time/length fields
- clarified the data compression filters -

[2020-05-16 22:16] fangq commented on #39
@robquant feel free to follow up in this thread if you want to post any updates on the converter development. If your team decide to make any of those converters to be released under an open-source license, feel free to let me know so I can add a submodule link in this repository.

Closing this ticket for now.

[2020-05-16 22:16] #39 closed

[2020-06-01 19:41] fangq opened #44 "Advancing the spec to Version 1.1.0"
here is a summary of the action items from today's meeting. I will work on the spec changes, after we all agree on the changes, I will create a "Draft 4" document.

- [ ] writing a validator (python)** - @huppertt
- [ ] updating fNIRS/snirf-samples** - @fangq
   - [ ] fix 1D arrays in easyh5, regenerate the sample data files (wavelengths, ...)
- [x] spec changes/clarifications (@fangq, @huppertt,

[2020-06-01 20:05] #20 closed

[2020-06-01 21:39] fangq commented on #44
@huppertt @jayd1860 and @dboas

see my above commits. I've made most of the changes in the spec, but I feel unsure about `measurementList.dataTypeIndex`, and where the newly discussed `probe.dataTypeLabels` fit in this.

below is what David wrote to address #40:

----------------
#### /nirs(i)/data(j)/measurementList(k)/dataTypeIndex
* **Presence**: required
* **Type**:  integer
* **Location**: `/

[2020-08-11 20:36] dboas opened #47 "proposal to add metadata to parallel /nirs(i)/stim(j)/data"
Some users would like to have metadata attached to each stimulus trial that they can then utilize to include or exclude trials from averaging. This is quite useful, for instance, with infant looking time during each trial.

To permit this, we would need to add an optional matrix of values something like /nirs(i)/stim(j)/metadata
This would have to have the same number of rows as /nirs(i)/stim(j)/d

[2020-08-11 21:25] sstucker commented on #47
Alternatively:
/nirs(i)/stim(j)/metadata/data
/nirs(i)/stim(j)/metadata/names

[2020-08-11 21:56] fangq commented on #47
hi @dboas, I agree it could be useful to add metadata to stim. what type of metadata do we expect? specifically, do you think this metadata field should be used to describe each stim channel? or just general channel-independent metadata?

basically, channel independent metadata can be handled similarly to /nirs/metaDataTags; channel-dependent metadata can be handled similarly to `/nirs/data/measur

[2020-08-12 12:07] dboas commented on #47
@fangq sorry for not being clear. We presently have /nirs(i)/stim(j)/data
From the spec this is described as:
This is a three-column array specifying the stimulus time course for the jth condition. Each row corresponds with a specific stimulus trial. The three columns indicate [starttime duration value]. The starttime, in seconds, is the time relative to the time origin when the stimulus takes on

[2020-08-12 18:17] fangq commented on #47
@dboas, what was the concern to extend the columns of /stim/data? in my opinion, changing the language to accept more than 3 column in /stim/data is the easiest way to accommodate such data, it is also the most efficient way to read and write.

if one also intends to annotate these additional data columns, such as defining the meaning of each extra column, we can add such lightweight metadata in t

[2020-08-12 18:26] dboas commented on #47
My initial reason for separating it into another field is because our /stim/data format currently exactly matches what is ubiquitous in the fMRI community. I don’t really want to change that.

I do hope that Ted can provide some guidance on this.

From: Qianqian Fang <notifications@github.com>
Reply-To: fNIRS/snirf <reply@reply.github.com>
Date: Wednesday, August 12, 2020 at 2:17 PM
To: fNIRS/snir

[2020-10-28 16:26] sstucker commented on #47
A Homer3 brought up a case in which filtering or otherwise organizing stims based on some scalar metadata value they each have would be useful.

@jayd1860 I'm also realizing that it would be great to move the status of the stims (enabled/disabled) in Homer to one of these metadata columns. How do you feel about Qianqian's proposal we make stim/data an indefinite number of columns as opposed to a n

[2020-10-28 17:58] dboas commented on #47
I am fine with extending /stim/data to have more than 3 columns as long as the first 3 columns maintain their same format that matches what is ubiquitously used in fMRI as @fangq suggested above.

We also need to annotate these extra columns, i.e. give them descriptions. @fangq suggested the follow. How would this work in practice?

[2020-11-06 21:18] sstucker commented on #12
Closing this-- discussion about an extension of stim/data that resolves the issue is ongoing [here](https://github.com/fNIRS/snirf/issues/47)

[2020-11-06 21:18] #12 closed

[2020-11-06 21:22] sstucker commented on #47
Would extending the column rank of stim/data break existing implementations?

[2020-11-20 18:58] sstucker commented on #47
I have a working implementation of the stim metadata which expands the stim data array to have more columns. This implementation isn't incompatible anything with Homer3.

I have stored the metadata column id as an attribute as @fangq suggested:
![image](https://user-images.githubusercontent.com/22327925/99837150-19244300-2b35-11eb-8ae8-0832da8203eb.png)

This approach allows a list of metadata IDs

[2020-11-30 19:54] fangq commented on #47
@sstucker and @dboas, sorry for late reply, was working on a proposal deadline before Thanksgiving.

it should work out of box for Easyh5 because it does not particularly validate data against SNIRF (but reading/writing them as generic data records). I do expect that the validation script @huppertt need to be updated to allow this.

can you try the low-level API (`H5A.*`) to see if you can save su

[2020-12-01 16:18] sstucker commented on #47
In my experience the MATLAB H5A API allows you to save a cell array of strings as data but not as an attribute. [This was confirmed here.](https://www.mathworks.com/matlabcentral/answers/508117-write-cell-array-of-strings-as-attributes-into-h5-file#answer_418080) I am sure it could be hacked but it is perhaps not worth it when we can just add it as a new field rather than an attribute.

[2020-12-06 21:05] dboas commented on #47
@fangq can we just add it as a new field?

[2020-12-06 22:37] fangq commented on #47
Please see my above commit

https://github.com/fNIRS/snirf/commit/2ab9e99d2876d0dcaca353a5ea842957f659c99a

because the attribute is directly associated with the data, so I don't see the needs to use long attribute names, so I picked `names` for simplicity. Let me know if this makes sense.

[2020-12-07 16:54] dboas commented on #47
@fangq , this is the only use of attributes in the SNIRF spec. Seems inconsistent to use it here when we never used it before.We could have used it for stim.name. We could use it for probe.sourceLabels, provbe.detectorLabels, and aux.name.

Further, in HDF5, as far as we understand, an attribute is not intended as data for the user. But in this case, stim/data/name is defined by the user and thus

[2020-12-08 18:30] sstucker commented on #47
See the proposed implementation in [the BUNPC fork of this repository](https://github.com/BUNPC/snirf)

[2020-12-08 21:18] fangq commented on #47
@David, I agree there is a bit inconsistency - we could have used attributes for those fields in the first place. To make things simpler, I update the language and added `stim.dataLabels`, similar to `probe.sourceLabels`. Let me know if this looks better.

@sstucker, I just noticed, after committing my edits, that you have already committed something similar in BUNPC fork - although in the [commit

[2020-12-09 20:01] sstucker commented on #47
@dboas and I agree that `dataLabels` should have the same number of elements as `data` has columns so that indexing remains the same. The first three elements of `dataLabels` should really be constrained to some version of Onset, Duration, Amplitude but it doesn't really matter as it is just for bookkeeping purposes.

This looks good!

[2020-12-09 20:43] #47 closed

[2020-12-09 20:44] fangq commented on #47
@sstucker, my bad, did not see your PR #49. I patched the spec with the minor edits you have. if you see anything else still missing, feel free to create a new PR

[2021-02-16 19:56] morrisvanegas opened #50 "Adding multiple moduleIndex for inter-module channels"
Rather than a single module index for both source and detector:
`/nirs(i)/data(j)/measurementList(k)/moduleIndex`,

Can we use individual optode module indices
`/nirs(i)/data(j)/measurementList(k)/sourceModuleIndex`
`/nirs(i)/data(j)/measurementList(k)/detectorModuleIndex`

As modular fNIRS become more abundant, inter-module channels (channels with sources and detectors on different modules) are a

[2021-04-23 21:41] rob-luke opened #51 "How to address formatVersion for drafts"
I am writing code for reading and writing snirf files. And I would like to check against specific versions of the specification. Currently I am targeting draft 3 which has a ‘formatVersion’ of 1.0.

will draft 4 also have a ‘formatVersion’ version of 1.0? And if so, how is the software to differentiate these two versions? My understanding is that snirf has been officially released [[1]](https://fn

[2021-04-26 19:34] sstucker commented on #51
Unless I'm mistaken, unfortunately formatVersion was created but never really implemented.

Sidenote: as far as I can tell, no breaking changes have ever been made the snirf specification since files have been generated. The required fields especially. Because many changed or added fields are designated optional, your reading of the files should forgive most changes.

I am fine with implementing f

[2021-04-26 19:38] dboas commented on #51
It should be easy to implement. We just have to increment the version number each time a change to the spec is made and document the changes for each version. What is the best way to do that with github?

[2021-04-26 19:44] rob-luke commented on #51
Probably using the releases feature in GitHub. When you make a new release it will also create a tag in git, which allows you to go back to specific points in time. It also allows you to compare the changes between releases.

See https://github.com/mne-tools/mne-nirs/releases for an example of releases.

There may be cleaner ways, this is the only way I've tried.

[2021-04-26 20:18] rob-luke commented on #51
That is fantastic to know.

[2021-05-05 18:26] sstucker commented on #51
I would love to start having titled releases. Would love to get input from @huppertt / @fangq / @jayd1860 in what we should title the first release, and if there is something critical missing before formally advancing to this "1.0". Otherwise will call the current spec v1.0 and everything prior will be "draft".

[2021-05-05 20:38] rob-luke commented on #51
As an end user I have to admit to being a bit confused. On the GitHub page the document says draft 4. But on the sfnirs website (and other internet pages) it says that "The specification can be found on GitHub here. Version 1.0 was released in November of 2019." And as the field is mandatory I assume the vendors currently producing files already have the field set to 1.0. Due to this ambiguity I’d

[2021-07-05 09:44] MichaelUM opened #52 "SNIRF independent entries / groups in metaDataTags"
Does the snirf format support to add individual fields that are not defined in the snirf format or would this cause an incompatibility with the format?
I'm thinking about more detailed descriptions of the preprocessing that may was performed.
Or more experimental / participant / manufacturer / device information that are currently not part of the snirf format.

I could already store additional inf

[2021-07-05 10:59] MichaelUM opened #53 "Definition of Channel"
Just a short remark to clarify the definition of a channel.
As there is no clear definition within the format I assume that a channel can contain basically any data defined in detail in the measurementList and that it is basically defined as a source detector pair.
This then implies that a source detector pair can define 0 - n channels.
By this definition, I could create a snirf file containing, s

[2021-07-05 11:00] MichaelUM commented on #53
One implication of the remark above:
It is possible / intended to store for example raw and processed data within one snirf datatimeseries structure?

[2021-07-07 18:09] fangq commented on #52
@MichaelUM, this specification does not specify the format or behaviors of the fields outside of the SNIRF-related fields. Because HDF5 is general purpose, I don't see a problem if one attaches additional customized data entries along the SNIRF data structure, but one must be aware that SNIRF-aware toolboxes may not be able to recognize or process such information if they are not part of the stand

[2021-07-07 18:20] fangq commented on #53
the [`dataType`](https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#nirsidatajmeasurementlistkdatatype) field is channel bounded, so, I suppose the answer is yes, one can store a raw data stream in a "channel" and something for another "channel", but the [`sourceIndex`](https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#nirsidatajmeasurementlistksourceindex) and [`det

[2021-07-08 09:21] dboas commented on #53
@fangq we should NOT forbid duplicate src/det-index pairs in the same measurementList. For instance, the src/det-index pair can be coupled with the optional wavelength index to indicate two different channels that have the same src/det-index pair but different wavelength indices.

@fangq I don't see any confusion or issue with have multiple data types attached to the same src/det-index pair. Each

[2021-07-08 09:27] dboas commented on #52
@MichaelUM , I agree with @fangq . The SNIRF file is generally meant for a single data set. I do understand the desire for that data set to carry information about the subject and the group in which it is contained. The inclusion of information about the subject and group is being addressed in the BIDS-fNIRS specification. This is still be developed. So take a look at it [here](https://bids-specif

[2021-07-08 09:29] dboas commented on #51
@jayd1860 @fangq @sstucker , if Nov 2019 was version 1.0 and we had significant fixes in the Spring of 2020, it seems like that should have been version 1.1. What do you think?

[2021-07-08 09:46] dboas commented on #50
@morrisvanegas , this is an important point to bring up. I don't think this module aspect of SNIRF received much attention up to this point. The specification says very little about this moduleIndex.

I do understand the issue you raise. For an inter-module channel, the source would be on one module and the detector on another module. Your proposed solution would fix this issue.

@jayd1860 @fangq

[2021-07-08 12:05] MichaelUM commented on #52
@fangq @dboas thanks for the feedback.
We are currently thinking about adding pre-processing information to the SNIRF file to address the problem of sharing processed data. If we would just use the available fields we would loose specific information to be able to reproduce the data from raw wl. So to not blow up the metaDataTag to much we thought of adding a software specific group (if the langua

[2021-07-08 12:09] MichaelUM commented on #53
@fangq @dboas thanks a lot, this addressed all my questions!
To summarize: We will keep raw and processed data in seperate SNIRF files for best practice and might store different processed data in one SNIRF file.

[2021-07-08 12:09] #53 closed

[2021-07-08 17:33] sstucker commented on #50
While I do not totally understand modular fNIRS, this change seems fully backwards compatible and inoffensive

[2021-07-08 17:38] sstucker commented on #51
You are right-- probably wrong to title anything forthcoming 1.0.

Should we settle on a definition for 1.1 in post? Or wait until new changes?

[2021-07-09 16:49] fangq commented on #51
I suppose this was a confusion I created.

when we initially developed the drafted specs on Github, I labeled it as "Version 1 Draft X" - this means the targeting spec is Version 1.0, but we are still at the draft stage - I decided to use this format by following IEFT-like internet standards, such as

https://json-schema.org/specification.html
https://datatracker.ietf.org/doc/html/draft-bormann-cb

[2021-07-10 01:38] rob-luke commented on #51
Small, but growing! This is a great initiative, and as such many people outside Boston are now jumping on it too. As such, its important to document things that may be obvious to the core developers.

In that case, I would make the following suggestions:

1. Note somewhere on the GitHub readme page where people can find the *actual* version 1 of the spec. It can just be a link to a specific git co

[2021-07-10 02:29] fangq commented on #51
Re: @rob-luke

by "small" I actually meant in a positive way that we, the developers, still have the luxury to make some significant adjustments to the spec without worrying about these changes may break production codes.

not entirely. some of the changes were not backward compatible, see this Draft-4 worklist following a discussion we had back in Jan 2020

https://github.com/fNIRS/snirf/issues/4

[2021-07-10 02:40] rob-luke commented on #51
Thanks @fangq for clarifying this.

My only request is that this information is summarised somewhere accessible to end users (maybe also update the SfNIRS page to indicate that you are only at draft stage), people won't find it buried here in this issue. I think its clear from the discussion above that it is unclear how people should use the `formatVersion` field in SNIRF files, and that the versi

[2021-07-10 03:13] fangq commented on #50
let me know if the above updates solve the problem

[2021-07-10 03:35] fangq commented on #52
@dboas, by allowing "group" in `metaDataTag`, @MichaelUM did not mean the study population group, but a HDF5 group - which is basically a struct/cell-array if mapping to MATLAB.

for example, should we allow someone to store
| Metadata Key Name | Metadata value |
|-------------------|----------------|
|ManufacturerName | "Company Name" |
|Model | "Model Name" |
|SubjectName/ | FirstName: "firstnam

[2021-07-21 06:23] Zahra-M-Aghajan opened #54 "Specifying /nirs(i)/probe/momentOrders as string as opposed to numeric array"
At the moment, in the [specifications](https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#nirsiprobemomentorders), the momentOrders are required to be specified as 1D numeric arrays. However, this could easily lead to confusion and, as a results, I was wondering this could be changed to strings?
As an example, consider the following scenarios:

1. Some groups might provide 3 moments

[2021-07-21 12:19] dboas commented on #54
@zahraaghajani , I recall that the original thinking was that the numeric number would be the power of the moment. Moments are calculated as \integral t^n I(t) dt. So n=0 is the mean, n=1 is the mean time of flight, and n=2 is the variance.In your example above, if some groups use sum and mean then their momentOrders would be a 1x2 numeric array with [0 1]. And another group uses mean and variance

[2021-07-21 18:07] zahraaghajani commented on #54
@dboas This is perfect and the clarification of what the array should be (in the specs page) will address everything that I mentioned. Thank you!

[2021-07-21 19:49] sstucker opened #55 "Standardized aux channel names"
It would be good to have a standardized list of aux channel identifiers in the appendix. Other formats like [BIDS](https://bids-specification--802.org.readthedocs.build/en/802/04-modality-specific-files/10-functional-near-infrared-spectroscopy.html#sidecar-json-_nirsjson)  have these and it would be nice to have defined conversion.

[2021-07-27 11:06] dboas commented on #54
I have now clarified the definition of momentOrders as suggested above

[2021-07-27 11:10] dboas commented on #52
@fangq , thanks for clarifying this for me. Should we modify the spec to allow for groups within the metaDataTags? What impact will that have on current readers and writers? Is it backward compatible?

[2021-07-27 11:22] dboas commented on #55
As @sstucker indicates, BIDS-fNIRS defines a restricted keyword list for channel types that include some commonly used auxiliary channels. It will be beneficial to adopt these same keywords in SNIRF for the aux(j)/name field. Our keyword (or Tag Name as we call it in the SNIRF spec) list is not complete and thus not required, but it would be recommended to use the keyword if it represents the give

[2021-07-27 11:50] MichaelUM commented on #52
@dboas @fangq it would be great if this could be added, exactly as @fangq [described](https://github.com/fNIRS/snirf/issues/52#issuecomment-877555237). But it wouldn't be backward compatible in my opinion to the current version since it doesn't directly allow groups which would imply that current readers might expect different input. But since the Metadata can include arbitrary entries either way

[2021-07-27 11:59] dboas commented on #51
@fangq , companies and academics are now supporting SNIRF in their software. We do have to worry about not breaking production codes. From the above discussion, it is not clear to me what has been resolved about how to refer to version and modify version numbers in the future. I agree with @rob-luke that it would be great to have this clarified in the spec itself.

I am comfortable with this prese

[2021-07-28 00:24] zahraaghajani opened #56 "Multiple aux streams each with their own sampling rates and properties"
What is your recommendation for the cases where more than one type of aux data is present? For example, you can imagine a scenario where there are eeg channels, analog TTLs, digital TTLs and imu data.. i.e. both discrete (e.g., digital TTLs) and continuous data types (each with their own sampling frequency). Is it required to resample everything to a common frequency then (which is not ideal)? I c

[2021-07-28 11:48] dboas commented on #56
aux is an indexed group where each item has 3 sub-fields: name, dataTImeSeries, and time. As such, each aux data has its own time vector. I think this resolves your issue.

Where did your code snippet above come from? That clearly won't work if each aux item has a different time vector. If that came from Homer3, then we know that we have to fix that issue and have essentially just been waiting for

[2021-07-28 17:50] zahraaghajani commented on #56
Perfect, that would fix the issue.
And you're right that it is from Homer3, that is why I got the wrong impression that they need to have the same length.
Thank you!

[2021-07-29 16:48] morrisvanegas commented on #50
Fantastic. Works like a charm!

[2021-07-29 17:50] morrisvanegas opened #57 "nirs(i).probe compatibility with nirs.SD probe definition"
Is there a reason why snirf(i).probe does not simply carry over the .SD probe structure used previously by .nirs?

While I understand the addition of fields to support fluorescence (wavelengthEmission), frequency domain (frequencies), and time domain (timeDelays, timeDelayWidths, momentOrders) data types, it seems some important fields were lost.  Some field names, while they changed from SD to sn

[2021-07-30 03:18] rob-luke commented on #51
Just as a follow up. A few weeks back, MNE changed our code to store the string `1.0 - Draft 3` in the field `formatVersion` for our SNIRF writer based on our understanding of @fangq comments. If Davids suggestion to change the current version to 1.0 is accepted, then we will modify our code accordingly. Thanks, Rob

[2021-07-30 16:35] fangq commented on #51
@dboas and @rob-luke, in this case, I suggest we use #44 to apply the final batch of fixes, and call the most up to date version, after checking off all #44 items, as Version 1.0.

I will also add a blurb in the spec to discuss how we manage version numbers.

`formatVersion` is defined as a string, so I assume most of us are ok with `major.minor<.patch><-release>` where major/minor and patch are i

[2021-07-31 00:28] rob-luke commented on #51
Happy with whatever scheme you choose. I just ask that its clearly specified so that I can use it as a validation check in the SNIRF reader, and so I know what to export in the SNIRF writer.

As an additional suggestion, could you provide static links in the README to these milestone versions you refer to (e.g. `Nov.2019`, `1.0 - Draft 3`, `1.0`)? Then when I get a file that has `Nov.2019` in the

[2021-08-02 18:50] dboas commented on #57
@morrisvanegas , my lab is dealing with this issue too! Our solution is different and reflects the reality that SNIRF was designed for storing acquired data. For acquired data, the probe position is already designed and their is no need to preserve the spring list information. This is why SNIRF stores the 3D positions of the sources and detectors as well as the 3D positions of 10-20 reference land

[2021-08-02 18:51] dboas commented on #56
I am closing this issue. Thanks

[2021-08-02 18:51] #56 closed

[2021-08-02 19:00] dboas commented on #51
@fangq , your proposal works for me.

@rob-luke , where should we keep the change log? BTW, your help is much appreciated. What more can you do? Maybe set up the change log? Start this as a new issue?

[2021-08-02 19:00] dboas commented on #50
@fangq , how do we propagate this to the master? Or does this have to be in a working draft version for the next version? I guess probably the latter assuming we have already released version 1.0.

[2021-08-02 19:02] dboas commented on #52
Okay, given that we are trying to close version 1.0 drafts to finalize version 1.0, I think we should save this for version 1.1 draft.

[2021-08-04 19:49] #50 closed

[2021-08-04 19:49] fangq commented on #50
just created a PR, and now merged. issue closed.

[2021-08-04 19:50] fangq commented on #55
@sstucker, do you want to create a PR? I can tag this to V1 milestone if it is straightforward.

[2021-08-04 19:56] fangq commented on #57
I concur with @dboas, closing this issue for now.

[2021-08-04 19:56] #57 closed

[2021-08-04 22:23] rob-luke opened #62 "Simplify the readme for USERS of the SNIRF specification"
A colleague of mine opened the SNIRF specification to understand it better (after my pushing) and had two follow up comments that I thought I would share with you. 1) Do I need to install TortoiseGit? And, 2) I don't use git, so I don't think SNIRF is for me. As such, I suggest the following:

Split the README in to user instructions (friendly with text links), then developer instructions (all the

[2021-08-05 01:56] rob-luke commented on #51
I consider this closed with the merging of #58. The Nov 2019 version is not called `1.0 - Draft 3` and `1.0` should be release imminently. Thanks @dboas and @fangq, I am closing this issue now.

[2021-08-05 01:56] #51 closed

[2021-08-06 12:24] dboas commented on #62
I agree that this tortoisegit stuff can be removed because it is a specific tool for git access and not related to SNIRF. I am not sure how it got there.

I agree with moving git detail stuff to a developer focused section

@rob-luke , thanks for taking care of this change. I am sure @fangq will agree with it.

[2021-08-06 12:28] rob-luke commented on #62
Great. In that case I will open a PR in the coming days to tidy up the landing page. We can iterate on the details with @fangq once I have a suggestion to comment on.

[2021-08-06 15:20] dboas commented on #54
I am reopening this issue because we need to be more clear in the definition of the moment order.
The text we just added to the spec is accurate for the n=0 moment (i.e. the sum) and the n=1 moment (i.e the mean time of flight). Although actually for n=1 we need to indicate that it is normalized by the n=0 moment.
But the n=2 moment that is commonly used in the literature is the Variance, and this

[2021-08-06 16:31] zahraaghajani commented on #54
I agree that the definitions can be clarified further, namely that all moments (n>=1) are normalized by the sum (n=0), and that for n>=2, centralized moments are used. It is possible to spell out the formulas in the attached figure in the specs or add references to Liebert et al, 2003 or Wabnitz et al, 2020.
What do you think?

![image](https://user-images.githubusercontent.com/4925224/128540448-1

[2021-08-06 16:32] dboas commented on #54
﻿i agree. Can you make a pull request with these edits?

From: Zahra M. Aghajan ***@***.***>
Date: Friday, August 6, 2021 at 12:31 PM
To: fNIRS/snirf ***@***.***>
Cc: Boas, David ***@***.***>, State change ***@***.***>
Subject: Re: [fNIRS/snirf] Specifying /nirs(i)/probe/momentOrders as string as opposed to numeric array (#54)

I agree that the definitions can be clarified further, namely that all

[2021-08-06 16:33] zahraaghajani commented on #54
Absolutely! I will do so shortly.

[2021-08-06 16:35] dboas commented on #54
@rob-luke and @fangq , this is just clarifying the spec for time domain moments and won't break anything, so I will just go ahead and accept this PR when it comes in

[2021-08-06 16:54] fangq commented on #62
@rob-luke and @dboas, I am fine to remove tortoisegit. it was meant for informative, but ended up as the 2nd link in README. so, no need to emphasize it as much.

[2021-08-12 08:57] MichaelUM commented on #52
It would be great if this could be changed in the current version already since it is only a minimal change in the specification but would have a bigger practical influence on our data specs within the sNIRF format. And since I'm not sure when 1.1 will be released it would be highly appreciated to have this change already now.

[2021-08-12 08:57] #52 closed

[2021-08-16 08:43] rob-luke opened #65 "sourcePos2D is required but 3D is not. Suggest to make either required, but not 2D."
Currently the specification requires `sourcePos2D` positions. It states:

[code]

I would like to suggest that the specification is changed so that _either_ the 2D or 3D positions are required, but not necessarily the 2D. I suggest this because 2D positions are not always available. For example, if you have a 3D digitizer. In this case I could invent some transform to 2D, but it would not be neces

[2021-08-16 08:45] rob-luke commented on #65
I mention this now @dboas and @fangq as I know there is a move towards a 1.0 spec and this is the time to raise suggestions.

[2021-08-16 22:31] rob-luke commented on #65
FYI: @dsleiter

[2021-08-16 22:34] rob-luke commented on #65
No chance of getting this in to 1.0 @fangq? If its conceptually acceptable, I can make the change so it won't be much work for you or David.

[2021-08-18 21:52] #62 closed

[2021-08-31 01:07] rob-luke commented on #65
Thanks @dboas, no worries on the delay, I hope the travel was enjoyable. See #69 for my suggested changes.

[2021-08-31 01:55] rob-luke opened #70 "Cut a new release of SNIRF"
The most recent release of the SNIRF protocol was 2019 (https://github.com/fNIRS/snirf/issues/51#issuecomment-876285597). There has been many great improvements to the protocol since then, so I suggest cutting a new release so developers can work with something stationary rather than a moving target.

@dboas and I have been in contact about slight differences in implementation in recent days. Thes

[2021-09-01 19:27] sstucker commented on #70
@dboas, @jayd1860 and I think this would be great-- especially codifying release procedure.

[2021-09-02 06:53] rob-luke commented on #70
Great, I will whip something up and open a PR. I will ping you when its ready for review. Cheers.

[2021-09-02 06:55] rob-luke commented on #55
+1 from me. Has anyone started work on this? If so, assign yourself. If not, I can take a crack in the coming week.

[2021-09-02 11:51] dboas commented on #55
@rob-luke , go ahead and take a crack at this. Thanks

[2021-09-02 14:10] sstucker opened #72 "Fixed vs. variable length strings in snirf files"
We have run into an issue in which strings saved to SNIRF files by Python interfaces appear differently after being loaded by the Homer3 interface in the MATLAB environment. These strings are loaded by the HDF5 code employed by the Homer3 SNIRF interface as 1x1 MATLAB cells containing the string itself. Strings saved by the Homer3 SNIRF interface do not exhibit this behavior.

Investigation w/ HDF

[2021-09-02 14:28] sstucker commented on #55
I started looking at this and hit some questions.

How should we define multiple axes for sensors like those defined by BIDS? Like so:

[code]
Is this clunky?

I imagine there are some other standard aux data to include in the table? Perhaps for electrophysiology signals?

[2021-09-02 14:30] dboas commented on #55
I am not aware of any other easy way to define it.
One could define it relative to the axial, sagittal, and coronal axes of the head, but that will require more knowledge about operation of the sensors than most users will have.

So, I am fine with the definition you suggest.

From: stephen scott tucker ***@***.***>
Date: Thursday, September 2, 2021 at 10:28 AM
To: fNIRS/snirf ***@***.***>
Cc: Boa

[2021-09-02 21:27] #65 closed

[2021-09-03 00:25] rob-luke commented on #72
How does this correspond to the current specification for strings? I copy from the spec below for your convenience. My understanding of these low level types is poor.

I guess this is a MATLAB Homer implementation detail? HDF5 supports both fixed and variable length strings, so surely matlab does? How hard is it to make Matlab read variable length data exported from python? We can't be the first p

[2021-09-03 01:02] sstucker commented on #72
I 100% agree.

I see this as a MATLAB implementation detail, but that is where it may be user-unfriendly. Users' code will need to handle both cases-- where the load API function returns the array compared to a 1x1 cell array {with the array inside}.

Here's what my sleuthing through the HDF5 docs came up with to explain this:

Variable length is a feature of HDF5 format, at the "Class" level of d

[2021-09-03 01:57] rob-luke commented on #72
Thanks for sleuthing and summarising so clearly. What you say makes sense to me.

I will leave you to evaluate the engineering effort to implement this option in MATLAB. If its not practically feasible then we can take the other routes.

My preference is currently ordered:

1. Support reading either variable or fixed lengths. Then people can write in whatever format they wish. But may be some jugg

[2021-09-03 02:26] sstucker commented on #72
I don't like your first preference because it seems to open the door to incompatible code. Keeping it as vague as "String" could entice users to write files using one of four(!) options I list above. Maybe that is fine? But already it has given rise to two different valid files with a variable (aux names) that is exposed differently via a (naive to all this, basic attempt at "load string") use of

[2021-09-03 02:34] rob-luke commented on #72
Cool, lets strike option one off the list then.

Looks like we are converging to a decision. I will let the Homer camp mull over your comments. Ping me if needed.

[2021-09-03 05:00] rob-luke opened #73 "Change the text on fnirs.org to match GitHub and reflect that SNIRF is in draft"
@fangq provided a description of the versioning for SNIRF at https://github.com/fNIRS/snirf/issues/51#issuecomment-890009659 and concluded that we are not yet at version 1.0 and are still in drafts.

Can the https://fnirs.org/resources/software/snirf/ page be modified to match the decision above? Otherwise there is conflicting information being presented to users. I believe @dboas has the keys to

[2021-09-03 12:13] dboas commented on #73
Sure, I can change fnirs.org to reflect this. But when do we expect to release version 1.0?

From: Robert Luke ***@***.***>
Date: Friday, September 3, 2021 at 1:00 AM
To: fNIRS/snirf ***@***.***>
Cc: Boas, David ***@***.***>, Mention ***@***.***>
Subject: [fNIRS/snirf] Change the text on fnirs.org to match GitHub and reflect that SNIRF is in draft (#73)

@fangq<https://github.com/fangq> provided a

[2021-09-04 00:29] rob-luke opened #76 "Meet the GitHub community guidelines"
As this is a community orientated project I suggest we update the repository to meet the GitHub community guidelines https://docs.github.com/en/communities Most of this work has already been done by @fangq, but I suggest simply organising it as recommended by GitHub. See https://github.com/fNIRS/snirf/community for our scorecard

This will involve:

- [x] Move the contribution guidelines from the

[2021-09-04 14:13] dboas commented on #76
sounds good. Thanks @rob-luke

[2021-09-04 23:41] rob-luke commented on #70
Now that the release procedure is agreed on, and there is a majority agreement for a versioning scheme. The final step is to make a release.

Rather than allowing perfect to be the enemy of done, I am going to use this opportunity to advocate one last time to make this a version 1 release, rather than a draft. My reasoning is as follows:

* The current specification is already in production. Both

[2021-09-05 22:33] dboas commented on #70
Given that I thought we officially release version 1.0 over a year ago, I am all for finalizing the official release.

From: Robert Luke ***@***.***>
Date: Saturday, September 4, 2021 at 7:42 PM
To: fNIRS/snirf ***@***.***>
Cc: Boas, David ***@***.***>, Mention ***@***.***>
Subject: Re: [fNIRS/snirf] Cut a new release of SNIRF (#70)

Now that the release procedure is agreed on, and there is a majo

[2021-09-23 17:13] sstucker commented on #70
I plan on freezing 1.0 within 5 hours or so, otherwise following https://github.com/fNIRS/snirf/blob/master/RELEASE.md

[2021-09-23 17:22] sstucker commented on #44
Can we revisit this?
I think we are okay to "Release" 1.0 without addressing this. dataTypeIndex is in use now without this, and is well-defined for TD data via `/nirs(i)/probe/timeDelayWidths` and `/nirs(i)/probe/momentOrders`

[2021-09-23 17:44] dboas commented on #44
I don't think

What the dataTypeIndex references is dependent on the dataType.
We presently indicated in the appropriate fields in probe when it is required for a given dataType. To be more clear about this, we might either want to itemize the various requirements in measurementList.dataTypeIndex or maybe better in the appendix where we itemize the dataTypes.

As this is just clarification of the

[2021-09-23 18:01] dboas commented on #70
yay

[2021-09-23 18:09] sstucker commented on #70
I have 3 PRs open. They don't need to be a part of 1.0, but they also are pretty lightweight.

[2021-09-23 22:25] rob-luke commented on #70
I vote we get them in. I think only the TD issue needs Zaharas eyes on it again.

awesome!

Regarding the releases procedure. It’s really handy to make them explicit, so please update it with any steps I missed, I wrote it from memory so may have skipped something.

[2021-09-23 23:05] rob-luke commented on #70
@sstucker I just read the release notes again. One thing that can be handy to do before the release is make a complete backup (in case something goes horribly wrong, you can always force push the backup to GitHub to revert your changes). I do a complete backup using `git clone --mirror git@github.com:fNIRS/snirf.git snirfbackup`. Good luck!

[2021-09-24 00:16] #55 closed

[2021-09-24 00:39] rob-luke commented on #70
@sstucker I just checked the links on the new readme etc and they all resolve to where I would expect. Congrats everyone! 🎉

[2021-09-28 20:06] MichaelUM opened #87 "dataTypeIndex is defined ambiguously"
The dataTypeIndex is not clearly defined. In the [data format summary ](https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#snirf-data-format-summary) it is defined as an \<i\> integer but in the text [description](https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#nirsidatajmeasurementlistkdatatypeindex) it states _Data-type specific parameter indices_ and _Note that

[2021-09-29 18:55] sstucker opened #88 "Consider removing support for multiple /nirs{i} blocks: for many applications, a SNIRF file should only contain one acquisition from a single subject"
We (@dboas, @rob-luke) are making an effort to make SNIRF agree with the BIDS dataset.

The BIDS specification is dependent on acquisition files belonging to a single subject, session and "run"-- with multiple runs being broken up into several files.

This means that SNIRF files that include multiple /nirs{i} groups are not BIDS compliant.

It was suggested that @fangq saves files with multiple /n

[2021-09-29 19:39] MichaelUM commented on #88
We only support reading multiple /nirs{i} because it was in the format but we only write a single group in Satori and never intended to add the option for multiple /nirs{i} groups because of the incompatibility with a future BIDS specification.

[2021-09-30 16:49] fangq commented on #88
I feel that this is rather an issue of preprocessing, something that should be taken care of by tools like fmriprep - or equivalent for fnirs.  Big feature changes like this should be ideally done before we froze v1.

also, the entire SNIRF spec does not have to be "compliant" with BIDS, as long as it can produce a file that meets BIDS requirements. Otherwise, we will have to co-develop SNIRF with

[2021-10-01 05:08] rob-luke commented on #88
True. Not all SNIRF files are BIDS compliant.

Again, true. Another example is TD and FD NIRS, which SNIRF support but BIDS does not.

SNIRF provides wide support for a large range of the fNIRS community including teams building their own systems etc. BIDS only supports a subset of SNIRF features and only aims to target the most prevalent fNIRS use cases by commercial devices (aims to capture 80%

[2021-10-01 12:18] dboas commented on #88
Good discussion on this so far.
I am in favor of leaving the spec as is for backward compatibility in particular but also because some of the contributors to the original spec thought it was important in the first place. I too wonder what the use case. I think Ted Huppert has said he was already storing his datasets that way.

How do people feel about putting text in the appropriate place around t

[2021-10-04 05:08] #73 closed

[2021-10-04 05:08] #70 closed

[2021-10-04 05:13] rob-luke commented on #54
@Zahra-M-Aghajan was this sufficiently addressed? If there are any outstanding issues could you please list them so we can tick them off. Cheers

[2021-10-04 05:13] rob-luke commented on #72
@sstucker what was the conclusion here?

[2021-10-21 22:09] fangq commented on #88
oh, it was just a comment following the title of this Issue (since Luka mentioned it in his talk) - that I concur that changing SNIRF upstream spec to match BIDS restrictions is not really necessary.

if everyone agrees, I will mark it as `wontfix`. can still keep it open for further discussions.

[2021-10-21 22:30] rob-luke commented on #88
I'd still be keen to hear an answer to the original question from @sstucker "but wanted to discuss here the motivation for supporting /nirs{i} blocks". Do you use these and in what situations are they useful and when not? I'm always keen to learn from other peoples workflows and processes.

[2021-10-31 01:55] rob-luke opened #89 "Add optional coordinate system field to probe"
There are a variety of standardised coordinate systems used in fNIRS (this problem also exists in MRI, MEG, EEG). Currently it is difficult to determine the coordinate frame used in different SNIRF files, as you need to reverse engineer it from the optional fields of `landmarklabels` and `landmarkpos`.

Here are some nice references on the different coordinate systems:
* https://www.fieldtriptoolb

[2021-10-31 18:58] sstucker commented on #89
I do not think this is superfluous! I am also interested in what the vision is/was for the probe coordinate system standardization

[2021-11-17 18:17] michaelchughes opened #90 "Easy way to convert an fNIRS dataset to SNIRF format from another format (like CSV)?"
Hi SNIRF community,

I'm part of a team at Tufts that has released a new open-access fNIRS dataset [see links 1,2 below]

We hope this data could be of broad interest to the BCI/fNIRS community, especially those that want to build and evaluate machine learning classifiers of a user's mental workload intensity level given short windows (say 30 seconds) of multivariate fNIRS recordings.

So far, we'

[2021-11-17 21:49] rob-luke commented on #90
Hi @michaelchughes,

Converting CSV data to SNIRF is possible, and just takes a little extra work as you will need to manually specify the required meta data (sample rate, sensor locations, etc).

You mention you use Python, in which case you can use MNE-Python with the MNE-NIRS extension to achieve this. You can read the data using [this example](https://mne.tools/stable/auto_tutorials/io/30_read

[2021-11-18 00:09] #90 closed

[2021-11-20 04:34] rob-luke opened #91 "Units for data saved with dataType 99999: Processed"
Does the specification describe the units that processed data is stored with? I took a fresh read and couldn't find it, but maybe I missed it.

I have some Kernel SNIRF files with HbO HbR data and I am guessing its storing the data in uMol due to the large values (is this correct @Zahra-M-Aghajan ?).

The default time unit is seconds, I assume to match with SI base units. If I was to store process

[2021-11-22 04:57] fangq commented on #91
@rob-luke, the `dataType` field is associated with a channel in `measurementList{k}`, so, the best place to declare a unit is also in `measurementList`.

we can solve this by either define a default unit for every `dataTypeLabel` the spec permits, or, add something like `measurementList{k}.dataUnit`

[2021-11-22 05:09] rob-luke commented on #91
Thanks @fangq. It seems I didn't miss something obvious then.

I will open a PR based on your suggestion and we can discuss further there.

[2021-11-22 22:54] Zahra-M-Aghajan commented on #91
@rob-luke That is correct re the units. I also support this addition (clarification on the exported units. Would be happy to pitch in wherever applicable.

[2021-11-23 17:30] sstucker commented on #91
This is a great solution. @dboas and I would like this for each aux as well.

[2021-11-24 00:26] sstucker commented on #91
See #92 for my proposed addition.

[2021-11-30 19:55] #91 closed

[2022-01-04 21:15] sstucker commented on #72
the pysnirf2 validator will raise a warning (but not invalidate a file) if a fixed length string is used. It is easy to tell the difference. We can elevate the error to a fatal level if we choose to make the breaking change.

[2022-01-04 21:27] sstucker opened #98 "Datasets erroneously saved as arrays"
Lots of implementations (critically, the Homer3/AtlasViewer BUNPC sponsored MATLAB apps) are saving fields that should just be single ints, floats, strings as H5_ARRAY with length 1, ndim 1.

This is a formatting difference that affects the way such Datasets must be loaded across reader implementations.

[pysnirf2](https://github.com/BUNPC/pysnirf2) invalidates these files. Because this implementa

[2022-01-05 09:08] rob-luke commented on #98
I am also opposed to supporting this. It would increase the complexity of snirf readers to support both options.

Also from a fundamentals standpoint. These fields should be a single value. And changing the spec to match incorrect implementations would be a long game of whack a mole.

[2022-01-05 12:54] dboas commented on #98
we are still early in the Homer implementation of SNIRF. Seems better to fix Homer than change the SNIRF spec.

[2022-01-11 20:11] #44 closed

[2022-01-11 22:49] sstucker commented on #98
An example of MATLAB's `h5disp` function's interpretation of the difference:
![image](https://user-images.githubusercontent.com/22327925/149033593-00f59c5f-c8c7-4549-95dd-b879fe862335.png)

Infuriatingly, the HDFView tool we've been using to inspect files glosses over this difference:
![image](https://user-images.githubusercontent.com/22327925/149033635-d1765f06-bbe6-4250-b590-04a228fcdd63.png)

I

[2022-01-12 21:26] sstucker commented on #72
A draft PR #99 resolves this for good.

[2022-01-12 21:28] sstucker commented on #72
Although I admit the actual HDF5 string formatting that represents the difference under the hood is a bit nebulous to me. At any rate, I have figured out how to create the same "variable length" outcome in both MATLAB and Python.

[2022-01-20 01:42] rob-luke commented on #98
I was also mirroring the way that Homer was storing these ints as single length arrays. I have fixed MNE to match the spec rather than Homer in PR https://github.com/mne-tools/mne-nirs/pull/429

Thanks for highlighting these issues @sstucker. The validator is already paying for itself 😄

[2022-01-20 02:27] sstucker commented on #98
Check out the code samples that @chrsthur and I are working out: https://github.com/sstucker/snirf/blob/formatting/snirf_specification.md#code-samples

[2022-01-20 02:30] sstucker commented on #98
It is possible some are faulty or overengineered... Maybe you have some experience.

[2022-01-31 04:58] rob-luke opened #100 "Release version 1.1.0"
Once the following issues are resolved I suggest we release a new version `1.1.0`:

* #89
* #98

In addition to the issues above, here is the changelog since version 1.0:

* Add dataUnit to indexed groups aux and measurementList
* Uses of the word "numerical" were replaced with "numeric" for consistency.
* stim/data was incorrectly described as `[<f>,...]+` in the table when it should be `[[<f>,..

[2022-01-31 05:00] sstucker commented on #100
Sounds good! I'll have #99 merged by your tomorrow :)

[2022-01-31 05:08] rob-luke commented on #100
No rush! 2 minutes was a faster turn around than I was expecting 😉

[2022-02-01 23:17] #72 closed

[2022-02-01 23:17] #98 closed

[2022-02-01 23:21] #89 closed

[2022-02-01 23:22] sstucker commented on #100
Okay! We just bit the bullet on lots of changes!

Let's let the dust settle for a bit. I'll generate and test some code based on the new spec and make sure we're not missing something.

[2022-02-01 23:22] rob-luke commented on #100
Probably worth ticking off #81 if we can too. I agree to waiting a bit for us to test it before releasing.

[2022-02-01 23:26] sstucker commented on #100
By merging #86 ?

[2022-02-01 23:30] rob-luke commented on #100
I think it still needs some work, I might get a chance to look at it later this week.

[2022-03-11 16:58] samuelpowell opened #103 "Overhead of channel descriptor groups"
We have been internally evaluating the use of SNIRF as a native output format for Gowerlabs' [Lumo](https://www.gowerlabs.co.uk/lumo) system.

Lumo is a high density system, and our full head adult caps contain 54 modules, each with 3 dual-wavelength sources and 4 detectors. We are able to provide a dense output, which results in (54 x 4 x 54 x 6 = ) circa 70k channels.

The use of an HDF5 group p

[2022-03-11 17:03] samuelpowell opened #104 "Source power unit inconsistency"
Note that the current and draft specification states:

But later in the discussion it is noted that:

For our purposes we would prefer to be able to specify a unit (since our power measures are relative), but in any case one of the statements should be altered for clarity.

[2022-03-11 17:54] sstucker commented on #103
This seems to be a fundamental problem with HDF5 itself (there are many).

I see the following possible resolutions to the huge file size:

1. Change measurementList into a matrix, as you suggest in your second bullet
2. Drop the requirement for probe representation in all files, so that one probe structures would not need to be repeated.
3. Drop the requirement for probe if some other tabular pro

[2022-03-11 21:57] dboas commented on #103
@samuelpowell , excellent issue you are raising. This is very important to resolve.
Can you take a look at the [channel descriptor tsv file specification](https://bids-specification--802.org.readthedocs.build/en/802/04-modality-specific-files/11-functional-near-infrared-spectroscopy.html#channels-description-_channelstsv) in the BIDS fNIRS specification. If you put the probe information in this ts

[2022-03-11 22:43] dboas commented on #104
I agree that the inconsistency should be resolved. Keeping the latter seems more general.

The proposal is thus to change the former to match the latter.

Perhaps this is best done by replacing

with

Thoughts?

[2022-03-12 20:19] samuelpowell commented on #103
@sstucker @dboas thank you for your prompt responses.

**Array of a compound type**

Switching from a group per descriptor to an array of a compound type containing the same information reduces the file size in the above scenario from ~200MiB to ~2MiB. It also reduces the time taken to construct the enumeration from ~24 seconds down to ~1s (take the timings with a pinch of salt, it could be that t

[2022-03-12 20:21] samuelpowell commented on #104
LGTM, happy to open a PR if this is not contentious.

[2022-03-13 14:57] fangq commented on #103
@samuelpowell, I am surprised that the channel descriptor could add such a big overhead in HDF5. Maybe try out the JSON/binary JSON wrapper (JSNIRF) of the SNIRF format - see [this spec](https://github.com/NeuroJSON/jsnirf/blob/master/JSNIRF_specification.md#jsnirf-format) and [sample file](https://github.com/fNIRS/snirf-samples/blob/00f31b259659d1f576ec36c2afa5a5eb23fe5ad3/basic/Simple_Probe.jnir

[2022-03-13 17:10] samuelpowell commented on #103
Hi @fangq, your use of a structure of arrays rather than an array of structures would certainly keep the size of the metadata manageable (this is basically equivalent to the suggestion explored in the previous post), and I do see the value of the human readable metadata.

However as noted we are looking at formats from the perspective of online recording, where the channel data (and other auxiliar

[2022-03-13 18:16] #104 closed

[2022-03-14 12:46] dboas commented on #103
@samuelpowell , I was arguing to keep the array representation of the measurement list information, but several others were in support of the specification now adopted by SNIRF. The rationale was simply that storage was not an issue and the adopted specification was more explicit. This was a discussion at the very beginning of the SNIRF spec, circa 2016, with many from the fNIRS field and we didn’

[2022-03-14 15:56] samuelpowell commented on #103
@dboas I understand, thank you.

To clarify, the approach I tested above was to have an array of a compound type, where the compound type contains each of the fields (i.e. an array of structs). I don't know if this was the original proposal, or if you were considering a single group with arrays for each field (i.e. a struct of arrays). Either approach solves the problem and could be optional as fa

[2022-03-15 03:44] fangq commented on #103
@samuelpowell, if you can share a sample snirf file with a large inflation ratio (the file itself does not have to be big), I think it is worthwhile to use h5dump or other tools to find out what had caused the overhead. It might be just unnecessary padding. I will be happy to take a look.

on the other side, see my comment in [another thread](https://github.com/NeuroJSON/jsnirf/issues/1#issuecomme

[2022-03-15 13:52] samuelpowell commented on #103
@fangq thank you for offering to take a look at the files, please see attached. Any insights welcome!

[group_enumeration.zip](https://github.com/fNIRS/snirf/files/8253866/group_enumeration.zip) contains SNIRF compliant metadata (~200MiB)
[array_enumeration.zip](https://github.com/fNIRS/snirf/files/8253865/array_enumeration.zip) contains the same enumeration data, but it is written as an array of

[2022-03-15 16:10] samuelpowell commented on #103
Brief note that creating the HDF5 file with compatibility limited to more recent versions of the library, e.g.,

[code]

enables the compact storage for the group data. This reduces the file size from 200MiB to ~160MiB, which is not particularly significant.

[2022-03-19 16:26] dboas commented on #103
@sstucker and I were discussing that one possible solution to the overhead issue is to have the option that each element of `/nirs(i)/data(j)/measurementList(k)` could be comprised of arrays for `/nirs(i)/data(j)/measurementList(k)/sourceIndex`, `/nirs(i)/data(j)/measurementList(k)/detectorIndex`, etc all with the same length. This suggested is based on the observation that each element of `/nirs(

[2022-03-20 20:00] samuelpowell commented on #103
@dboas this would certainly fix the problem I have described, and is probably the simplest / least intrusive way to do so.

One thought. Perhaps when using the structure of arrays style you suggest, the index `(k)` could be dropped from `/nirs(i)/data(j)/measurementList(k)`, such that the presence of `/nirs(i)/data(j)/measurementList` implies the nested arrays. This reflects the way that the `/nir

[2022-03-21 18:53] sstucker commented on #103
This change sounds good to me. It would be a bit annoying to implement programmatically, but no more strained than the notion of Indexed Groups already is.

[2022-03-21 21:33] huppertt commented on #103
The reason that we coded the snirf file like this (despite knowing it would be more overhead) is that I saw file I/O and RAM usage to be more of a bottle neck than disk storage.  Specifically, I was thinking in the context of two scenarios that will likely come up in future data mining methods.  1) If you put the data into one large chuck (eg a multidimensional data array/matrix instead of a serie

[2022-03-21 22:56] samuelpowell commented on #103
@huppertt are you saying that the choice of the current design is such that one might choose to prune a particular channel `k` by deleting its entry in the metadata, e.g., `/nirs(i)/data(j)/measurementList(k)`?

I understand that this is certainly a low cost operation in the current specification.

What I don’t understand is that as soon as you actually want to use the data, you still have to acce

[2022-04-13 18:28] sstucker commented on #103
Going ahead and drafting our solution. We can benchmark the proposed format and compare to your experience @samuelpowell

[2022-04-14 06:57] samuelpowell commented on #103
Splendid, thank you @sstucker . We're about to release a MATLAB package for conversion of LUMO data - I'll make sure we include the proposed solution as an option and keep it up to date with whatever happens. Ping me here if you need anything.

[2022-04-16 15:29] samuelpowell opened #106 "Local to global indexing"
If we use local indexing, that is to say that:

 - for each channel we set a `sourceModuleIndex`, and a `detectorModuleIndex`, and use local indices for `sourceIndex` and `detectorIndex`
 - we set `useLocalIndex` non-zero             

Is the nature of the global indexing into, e.g., `/nirs(i)/probe/sourcePos3D` defined by specification?

[2022-04-16 16:28] samuelpowell opened #107 "Aux time series dimensionality limit"
We are examining how best to 'fit' auxiliary data from [LUMO ](https://www.gowerlabs.co.uk/lumo) into a valid SNIRF file, pertinent examples of which are:
1. Up to 54 individual time series of 6- or 9-axis MPU data at 100Hz
2. Per-channel time series data metrics/flags, such as coupling quality

The most natural way for us to achieve this would be to write these data in the `/aux` group, which I n

[2022-04-17 11:35] samuelpowell opened #108 "Contradictory array sizing in time vector"
It is specified that for "the special case of equal sample spacing a shorthand `<2x1>` array is allowed" for the `/nirs(i)/data(j)/time` dataset (and other time vectors). However the type of this field is "numeric 1-D array", and it is also specified a "SNIRF field specified by this document as a numeric 1-D array must occupy a dataspace with rank of 1".

Evidently this is contradictory. Should th

[2022-04-19 20:25] sstucker commented on #108
Ugh, I wasn't even aware of this feature. I need to add an exception in my validator for this as well.

Do column vectors appear anywhere else? Let's amend it the way you suggest, although this would be breaking (hopefully for very few)

[2022-04-19 20:25] sstucker commented on #107
Including this in the overhaul I am working on re: #103

[2022-04-20 06:50] samuelpowell commented on #108
Thanks @sstucker. Given the specified general requirements for array dimensionality, I suspect if anyone is using this format for the time vector they would have just used a rank-1 array anaway.

I've only found this in `/nirs(i)/data(j)/time`, and `/nirs(i)/aux(j)/time`.

I'll open a PR shortly.

[2022-04-20 06:50] samuelpowell commented on #107
Thanks @sstucker

[2022-04-20 09:33] samuelpowell commented on #108
Singleton dimension also exists in the definition of

 - `/nirs(i)/probe/sourceLabels(j)`, but this *can* be rank-2 when using multiple wavelengths, so perhaps this is fine.
 - `/nirs(i)/aux(j)/dataTimeSeries`, this is defined as a numeric 1-D array but specifies two dimensions,  but if #107 is acceptable then it would match up with the case of `sourceLabels`.

[2022-04-21 12:50] samuelpowell opened #110 "User defined groups within metaDataTags"
The specification permits user defined records within the `metaDataTags`. Rather than clutter this with a lot of entries, we would like to collect these under a group, e.g., `/nirs(i)/metaDataTags/lumo/...` . This approach currently fails validation, not explicitly, but because I think the Python code is iterating over what it expects to be datasets.

Irrespective of the validator, I'm not clear i

[2022-04-27 04:05] rob-luke opened #111 "/nirs(i)/stim(j)/data does not use TimeUnit"
The specification uses the field `TimeUnit` to specify the unit that times are stored in. This field is used in many places including `/nirs(i)/data(j)/time`, `/nirs(i)/probe/timeDelays`, `/nirs(i)/aux(j)/time` etc.

However, the `/nirs(i)/stim(j)/data` field specifies that seconds must be used. It states (accentuation my own)...

The starttime, **in seconds**, is the time relative to the time ori

[2022-04-27 04:16] rob-luke commented on #110
My reading of the spec is that the use of another level of grouping is not explicitly denied.

However, as an fNIRS software maintainer I would not encourage this. First, I don't think that average users will be looking at `/nirs(i)/metaDataTags/` manually, so clutter here will not bother anyone. Instead, if everything is flat it will be easier to loop over. Secondly, it will make writing readers

[2022-04-27 11:01] rob-luke commented on #111
As noted in https://github.com/mne-tools/mne-python/issues/10538#issuecomment-1106636185

[2022-04-29 11:20] samuelpowell commented on #110
@rob-luke yes I take your point regarding vendor neutrality.

We will proceed by including the additional metadata that may be of interest to the user as individual entries, as per the intent of the specification.

The optional extended metadata which is mostly of interest for debug / developer purposes, will be moved to a new root group. This optional data is not enabled by default in our export

[2022-05-06 19:56] aortega255 opened #112 "snirf support for time/frequency multiplexing hardware"
This is what I think could be an issue in the near future with the snirf standard.

I don't see fields in the probe class to store information related to time or frequency multiplexing. This might be important or necessary for fNIRS hardware in which the position of the optodes is configurable, as the state and the frequency associated with each optode needs to be specified somewhere.

As we are m

[2022-05-06 20:21] dboas commented on #112
I can provide some more elaboration on this as I have discussed this a little bit with @aortega255. SNIRF was originally designed as a file format for storing acquired data and associated supporting data like the probe information, and in this case I haven't seen a case yet where SNIRF would have to probe what is nominally hardware specific information for how the measurements were multiplexed (in

[2022-05-25 17:01] #108 closed

[2022-05-30 18:55] #40 closed

[2022-05-30 19:07] sstucker commented on #110
Opened a PR which fixes this in the laziest way possible by banning the use of sub groups: #114

I agree wholeheartedly that a flat metaDataTags group is preferable from a software maintenance perspective. I am anxious about the fact that the spec is set to diverge from the original definitions of its organization (#107, #103). While HDF5 is very flexible and allows human-readable refactorings of

[2022-06-01 15:56] sstucker commented on #103
See above for an early draft fix

[2022-06-13 05:19] samuelpowell commented on #110
@sstucker no problem. Reasoning is sound and we can work with this. If time permits is may be desirable to have the validator throw an appropriate error when this is violated, it is currently a crash as it assumes it will find a dataset, not a group.

[2022-06-14 14:46] sstucker commented on #110
I need to make the pysnirf2 validator more robust in general... raising `SnirfFormatError` and catching it in the validator rather than crashing

[2022-06-22 13:58] #110 closed

[2022-07-11 12:50] MichaelUM opened #119 "Default value for not used entries"
Probably this is already mentioned somewhere but I couldn't find it directly in the specs (only in #40, but not integrated).
If required fields are not used they can't be empty and a default / not used value should be set instead.
@dboas @jayd1860 suggested -1 for integers for example for wavelengthIndex=-1 and dataTypeIndex=-1 in preprocessed data. Strings could be handled as empty strings in gen

[2022-07-12 10:14] #107 closed

[2022-08-17 11:29] Horschig commented on #88
We had a recent mail conversation with @dboas and @sstucker about this and a related issue (multiple devices on one subject). For us it is important that whatever we export our data to is not only compatible with the current specs, but more importantly can be used by our customers. As long as Homer3 and other widely used toolboxes or applications that can read in snirf datafiles, are not making us

[2022-09-14 18:11] #100 closed

[2022-09-15 04:22] rob-luke opened #121 "Add sample snirf data that is small in size and covers a range of SNIRF features"
At some stage we removed the small samples because they were no longer compliant with the SNIRF specification and did not pass the validator. And instead we linked to a larger dataset that was SNIRF compliant.

Ideally, we would generate a comprehensive set of small files that are 100% SNIRF compliant and cover the complete range of possible SNIRF features. This is useful for testing software purp

[2022-10-11 08:33] huppertt commented on #103
It’s been a while since I looked at the spec.  I could have sworn we had put the data vector as a sub field to each channel rather than as a matrix entry.  I think I am just losing my mind because that is not how we did it.  Everything I said was based on the assumption that the data for each channel was stored as a child of that channel’s definition.  But, since I am clearly forgetting how we act